
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

#tab-header{
  background: rgb(92, 95, 25);
  color: #ffffff;
}

.tab-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-top: 40px;
}
/* Other Classes for Page Styling */

 body {
  background: #007bff;
  background: linear-gradient(to bottom, rgb(107, 101, 9), rgb(209, 192, 38));
  background-attachment:fixed;
}
